<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Couples Up</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="padding">

	<br/>
	<hr/>
	<ion-row>
		<ion-col>
			Este aplicativo não salva nenhuma informação em servidores.<br/>
			Todos os dados ficam armazenados no navegador.<br/><br/>

			Para apagar completamente todas as informações, basta clicar no botão.

		</ion-col>
	</ion-row>

	<br/>
	<hr/>
	<ion-button item-right color="tertiary" expand="full" (click)="clear();">
		<ion-icon name="close-circle" slot="start"></ion-icon>
		Apagar todos os dados
	</ion-button>

	<br/><br/>
	<ion-row>
		<ion-col>
			<br/><br/>
			<b>Produção:</b>
			<br/><br/>
			Giuliano Garbi
		</ion-col>
		<ion-col>
			<b>Desenvolvimento:</b>
			<br/><br/>
			<img class="img-logo" src="assets/images/platypus.png">
		</ion-col>
		<ion-col>
			<br/><br/>
			<b>Contato:</b>
			<br/><br/>
			couples-up@platypusweb.com.br
		</ion-col>
	</ion-row>



</ion-content>

