<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>
			Categorias de {{ username }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="padding">
	<ion-list *ngIf="categories.length > 0">
		<!-- add a section header -->
		<ion-item 
			*ngFor="let item of categories"
			class="ion-text-center item"
			[ngClass]="{ 'selected': isSelected(item.id) }"
			(click)="toggleSelection(item);">
			<ion-icon class="check-icon" name="checkmark-circle"></ion-icon>
			<ion-label class="title">{{item.title}}</ion-label>
		</ion-item>
	</ion-list>
	<ion-button expand="full" icon-start (click)="save()">
		<ion-icon name="save"></ion-icon> 
		Salvar
	</ion-button>
</ion-content>

