// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/



// https://coolors.co/d7263d-8f2d56-8b1e3f-3c153b-89bd9e

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #D7263D;
  --ion-color-primary-rgb: 215,38,61;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #bd2136;
  --ion-color-primary-tint: #db3c50;

  --ion-color-secondary: #8F2D56;
  --ion-color-secondary-rgb: 143,45,86;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #7e284c;
  --ion-color-secondary-tint: #9a4267;

  --ion-color-tertiary: #3C153B;
  --ion-color-tertiary-rgb: 60,21,59;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #351234;
  --ion-color-tertiary-tint: #502c4f;

  --ion-color-success: #31BC68;
  --ion-color-success-rgb: 49,188,104;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #2ba55c;
  --ion-color-success-tint: #46c377;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --item-background: #F4C3CA;
  --item-hover: #EC9CA6;
  --item-select: #8B1E3F;
  --item-select-hover: #A04661;
}
