.info-icon {
	margin-right: 20px !important;
	cursor: pointer;
	color: var(--ion-color-secondary);
}

button {
	ion-icon {
		color: #FFF;
	}
	
}

.result {
	width: 80%;
	margin: auto;

	.title {
		width: 100%;
		font-weight: bold;
		text-align: center;
	}
}

