<ion-header>
	<ion-toolbar>
		<ion-title>Couples Up</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="padding">
	<br/><br/>
	<ion-list *ngIf="users.length > 0">
		<!-- add a section header -->
		<ion-item 
			*ngFor="let item of users"
			class="ion-text-center item">
			<ion-label class="title">{{item.name}}</ion-label>
			<ion-button item-right color="tertiary" (click)="userEdit(item)">
				<ion-icon name="create" slot="start"></ion-icon>
				Editar
			</ion-button>
			<ion-button item-right color="tertiary" (click)="userDelete(item);">
				<ion-icon name="trash" slot="start"></ion-icon>
				Apagar
			</ion-button>
		</ion-item>
	</ion-list>
	<br/><br/>
	<ion-button expand="full" [routerLink]="['/user']" icon-start>
		<ion-icon name="person" slot="start"></ion-icon>
		Nova pessoa
	</ion-button>
</ion-content>

