.info-icon {
	margin-right: 20px !important;
	cursor: pointer;
	color: var(--ion-color-secondary);
}

button {
	ion-icon {
		color: #FFF;
	}
	
}

.result {
	width: 600px;
	margin: auto;

	span {
		width: 100%;
		text-align: center;
	}
}

